<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBlog</title>
  </head>
  <style>
  *, *:after {
    margin: 0 auto;
    text-align: center
  }
  .head-title {
    text-decoration: none;
    font-size: 45px;
    color: black;
  }
  .new-post {
    font-size: 28px;
    text-decoration: none;
    color: black;
  }
  .new-post:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #9370DB;
  }
  .wrapper {
    max-width: 700px;
  }
  </style>
  <body>
    {% if username %}
    <div class="head">
      <a href="/blog" class="head-title">{{username + "'s"}} Blog</a>
      <br>
      <a class="new-post" href="/logout">Logout</a>
      <br>
      <a href="/newpost" class="new-post">Make a new post</a>
    </div>

    {% else %}
      <h1><a class="head-title" href="/blog">Blog</a></h1>
    {% endif %}
    <br>
    <br>
    <hr>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
