{% extends "base.html" %}
{% block content %}
<style>
*, *:after {
  margin: 0 auto;
}
.content {
  width: 100%;
  padding: 15px;
}
.error {
  color: red;
}
.title {
  font-weight: bold;
}
input, textarea {
  text-align: left;
  border: 1px lightgray ridge;
  border-radius: 3px;
  box-shadow: 10px;
  display: block;
}
.submit {
  margin: 0 auto;
  border-radius: 4px;
  width: 105px;
}
</style>
<div class="content">
  <form method="post">

    <label>
      <div class="title">Content:</div>
      <textarea name="content" rows="20" cols="60">{{post.comment_content}}</textarea>
    </label>
    <div class="error">{{error}}</div>

    <input class="submit" type="submit" value="Submit Changes">
  </form>
</div>
{% endblock %}
