{% extends "base.html" %}
{% block content %}
<style>
.blog-section {
  width: 100%;
  padding-top: 15px;
}
.blog-title {
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-decoration: none;
}
.blog-title:hover {
  text-decoration: underline;
}
.blog-content {
  font-size: 16px;
}
.blog-creator {
  font-size: 18px;
  color: gray;
}
.blog-date {
  font-size: 8px;
}
.edit {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
  color: #9370DB;
}
.error {
  color: red;
}
.mod-section {
  text-align: right;
}
</style>
{% if post.submitted_user == post_owner %}
  <div class="mod-section">
    <a class="edit" href="/edit/id={{post.key().id()}}">Edit</a>
    <a class="edit" href="/delete/id={{post.key().id()}}">Delete</a>
  </div>
{% endif %}
  <div class="blog-section">
    <div class="blog-creator">{{post.submitted_user.split('|')[0]}}</div>
    <div class="blog-title">{{post.subject}}</div>
    <div class="blog-content">{{post.content.replace('\n', '<br>') | safe}}</div>
    <div class="blog-date">{{post.created}}</div>
  </div>
  <br>
  {% if not no_user %}
    {% if post.submitted_user != post_owner %}
      {% if post.likes %}
        {% if username not in post.likes %}
          <div class="">This post has {{post.like_total}} Likes!</div>
          <a href="/like/id={{post.key().id()}}">Like</a>
          </div>
        {% elif username in post.likes %}
          <div class="">This post has {{post.like_total}} Likes!</div>
          <a href="/like/id={{post.key().id()}}">Remove Like</a>
          </div>
        {% endif %}
      {% else %}
        <div class="">Be the first to like this post!</div>
        <a href="/like/id={{post.key().id()}}">Like</a>
      {% endif %}
    {% elif post.submitted_user == post_owner %}
      {% if post.likes %}
        <div class="">This post has {{post.like_total}} Likes!</div>
      {% else %}
        <div class="">This post doesn't have any likes yet!</div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% for c in comments %}
    {% if c.comment_username == username %}
    <div class="mod-section">
      <a class="edit" href="/editcomment/id={{c.key().id()}}">Edit</a>
      <a class="edit" href="/commentdelete/id={{c.key().id()}}">Delete</a>
    </div>
    {% endif %}
    <div class="blog-section">
      <div class="blog-title">{{c.comment_username}}</div>
      <div class="blog-content">{{c.comment_content.replace('\n', '<br>') | safe}}</div>
      <div class="blog-date">{{c.created}}</div>
      <div class="error">{{comment_error}}</div>
    </div>
  {% endfor %}
  {% if not no_user %}
  <br>
  <br>
  <hr>
  <form method="post">
    <label>
      <div class="title">Comment:</div>
      <textarea name="comment_content" rows="5" cols="20"></textarea>
    </label>
    <br>
    <input class="submit" type="submit" value="Submit Comment">
  </form>
  {% else %}
  <br>
  <hr>
  <div class="">{{no_user}}</div>
  {% endif %}

{% endblock %}
